# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Module1/_557e747b2146577e6cbf61df0f353dc6_02_greedy_algorithms_starter_files/fractional_knapsack/fractional_knapsack.cpp
/Module1/_557e747b2146577e6cbf61df0f353dc6_02_greedy_algorithms_starter_files/fractional_knapsack/by_learners/
/Module1/_557e747b2146577e6cbf61df0f353dc6_02_greedy_algorithms_starter_files/fractional_knapsack/fractional_knapsack.py
/Module1/_557e747b2146577e6cbf61df0f353dc6_02_greedy_algorithms_starter_files/fractional_knapsack/fractional_knapsack.hs
